:root {
  --primary-light: hsl(254, 88%, 90%);
  --primary-dark: hsl(256, 67%, 59%);
  --secondary-light: hsl(31, 66%, 93%);
  --secondary-dark: hsl(39, 100%, 71%);
  --project-white: hsl(0, 0%, 98%);
  --project-grey: hsl(0, 0%, 94%);
  --project-black: hsl(0, 0%, 7%);
  --main-font: "DM Sans", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--project-grey);
  padding: 1rem;
  line-height: 1;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}

header > h1 {
  font-size: clamp(1rem, 10vw, 6rem);
  text-align: center;
}

main.container {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: clamp(2rem, 5vw, 8rem) clamp(1rem, 8vw, 16rem);
}

main > div[class^="article-"] {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  padding: 2rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 3em);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.25rem, 3vw, 2em);
  font-weight: 600;
}

.article-reviews,
.article-grow {
  background-color: var(--primary-dark);
  color: var(--project-white);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.article-manage,
.article-audience {
  background-color: var(--project-white);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.article-maintain,
.article-write {
  background-color: var(--secondary-dark);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.article-schedule {
  background-color: var(--primary-light);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.article-create {
  background-color: var(--secondary-light);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.text-yellow {
  color: var(--secondary-dark);
}

.text-purple {
  color: var(--primary-dark);
}

footer {
  margin-top: 2rem;
}

footer p {
  font-size: 0.66em;
  text-align: center;
}

footer a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

@media (min-width: 320px) {
  main.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  main > div[class^="article-"] {
    height: 100%;
  }
}

@media (min-width: 600px) {
  main.container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  main.container {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 2rem;
  }

  .article-create {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    align-content: center;
  }

  .article-reviews {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
  }

  .article-schedule {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    display: flex;
    align-content: space-between;
    text-align: left;
  }

  .article-write {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    display: flex;
    align-content: space-between;
  }

  .article-manage {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
  }

  .article-maintain {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
  }

  .article-audience {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    align-content: flex-start;
  }

  .article-grow {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .article-grow img {
    width: 250px;
    height: auto;
    display: block;
    flex-shrink: 0;
  }

  .article-grow h3 {
    max-width: 400px;
    text-align: left;
  }

  .attribution-top {
    display: block;
  }

  .attribution-top p {
    font-size: 0.66em;
    text-align: center;
  }

  .attribution-top a:hover {
    opacity: 0.5;
    text-decoration: underline;
  }

  .attribution-bottom {
    display: none;
  }
}
