:root {
  --primary-light: hsl(254, 88%, 90%);
  --primary-dark: hsl(256, 67%, 59%);
  --secondary-light: hsl(31, 66%, 93%);
  --secondary-dark: hsl(39, 100%, 71%);
  --project-white: hsl(0, 0%, 98%);
  --project-grey: hsl(0, 0%, 94%);
  --project-black: hsl(0, 0%, 7%);
  --main-font: "DM Sans", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--project-grey);
  padding: 1rem;
}

main.container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr); */
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

main > div[class^="article-"] {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
}

.article-reviews {
  background-color: var(--primary-dark);
}

.article-manage {
  background-color: var(--project-white);
}

.article-maintain {
  background-color: var(--secondary-dark);
}

.article-schedule {
  background-color: var(--primary-light);
}

.article-grow {
  background-color: var(--primary-dark);
}

.article-audience {
  background-color: var(--project-white);
}

.article-create {
  background-color: var(--secondary-light);
}

.article-write {
  background-color: var(--secondary-dark);
}

footer {
  margin-top: 2rem;
}

footer p {
  font-size: 0.66em;
  text-align: center;
}

footer a:hover {
  color: var(--primary-dark);
  text-decoration: underline;
}
